/* This is the CSS for the index.html */
#HomepageSymbol {
    background-color: yellow;
    text-align: center;
    padding-bottom: 1em;
}
#robins {
    background-color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
nav {
    text-align: center;
}
nav li{
    list-style-type: none;
    display: inline-block;
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;
}

.other_Robins{
    font-size: 25px;
}
.other_Robins h2 {
    text-align: left;
    text-decoration: underline;
}
.other_Robins div h2 {
    text-align: left;
    text-decoration: none;
}
.facts {
    font-size: 25px;
    padding-bottom: 2em;
}
.facts h2 {
    text-align: left;
}

#robin_Info{
    background-color: whitesmoke;
    padding: 2em;
    text-align: center;
    font-size: 25px;
}
.character_info {
    margin-left: auto;
    margin-right: auto;
}
#home {
    font-size: 25px;
}
#home h2 {
    padding-top: 2em;
}


/* This is the CSS for the html side web pages */
body {
    background-color: black;
}

.openingImg img {
    display: block;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 600px; 
}

section {
    background-color: whitesmoke;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
}
.Biography h1, .Biography h2{
    text-align: center;
}
#secondary {
    position: relative;
    top: -1.5em;
    right: -1em;
    float: right;
    width: 200px;
}
#secondary img {
    height: 50%;
    width: 100%;
    object-fit: fill;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
}

table {
    position: relative;
    top: -.5em;
    border: solid 1pt black;
    border-collapse: collapse;
    }
    td {
    border: solid 1pt black;
    padding: .5em;
}

nav a:link {
    color: green;
    padding: 1em;
    font-weight: 100;
    border: 3px solid black;
    text-decoration: none;    
}

nav a:visited {
    color: crimson;
    padding: 1em;
    font-weight: 100;
    border: 3px solid black;
    text-decoration: none;
}
footer {
    background-color: whitesmoke;
    text-align: center;
    text-decoration: double;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
